@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 203 67% 95%;
    --foreground: 205 60% 15%;
    --card: 203 67% 99%;
    --card-foreground: 205 60% 15%;
    --popover: 203 67% 99%;
    --popover-foreground: 205 60% 15%;
    --primary: 205 60% 28%;
    --primary-foreground: 203 67% 98%;
    --secondary: 204 60% 88%;
    --secondary-foreground: 205 60% 28%;
    --muted: 204 60% 92%;
    --muted-foreground: 205 60% 40%;
    --accent: 199 59% 42%;
    --accent-foreground: 203 67% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 60% 85%;
    --input: 205 60% 90%;
    --ring: 199 59% 42%;
    --chart-1: 205 60% 28%;
    --chart-2: 199 59% 42%;
    --chart-3: 204 60% 68%;
    --chart-4: 205 60% 48%;
    --chart-5: 199 59% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 205 30% 12%;
    --foreground: 203 30% 85%;
    --card: 205 30% 15%;
    --card-foreground: 203 30% 85%;
    --popover: 205 30% 15%;
    --popover-foreground: 203 30% 85%;
    --primary: 203 67% 95%;
    --primary-foreground: 205 60% 15%;
    --secondary: 205 30% 20%;
    --secondary-foreground: 203 30% 85%;
    --muted: 205 30% 20%;
    --muted-foreground: 203 30% 65%;
    --accent: 199 59% 42%;
    --accent-foreground: 203 67% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 30% 25%;
    --input: 205 30% 25%;
    --ring: 199 59% 42%;
    --chart-1: 203 67% 95%;
    --chart-2: 199 59% 42%;
    --chart-3: 204 60% 48%;
    --chart-4: 205 60% 38%;
    --chart-5: 199 59% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
